@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");
a {
  text-decoration: none;
}

.mt__5 {
  margin-top: 5rem;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #698f3f;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

@keyframes show {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: transformX(0px);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: transformX(0px);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}

.section-subtitle {
  font-size: 2rem;
  font-family: "Grand Hotel", cursive;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  color: #698f3f;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-btn {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #698f3f;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 3s ease-in-out;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #e5e5e5;
  padding-top: 1rem;
  padding-left: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}
.navbar.nav-show {
  transform: translateX(0%);
}
.navbar .nav-close {
  font-size: 2rem;
  cursor: pointer;
}
.navbar .nav-items {
  list-style-type: none;
  padding: 1rem;
}
.navbar .nav-link {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  color: #698f3f;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-link:hover {
  color: #3a3e3d;
  padding-left: 0.5rem;
}

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/main-bcg.jpg") center/cover no-repeat fixed;
  position: relative;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: 0.5rem;
}
.banner .banner-subtitle {
  font-size: 2rem;
  font-family: "Grand Hotel", cursive;
  color: #698f3f;
  animation: slideFromRight 3s ease-in-out 1;
}
.banner .banner-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  line-height: 1.3;
  animation: slideFromLeft 3s ease-in-out 1;
}

.main-btn,
.banner-btn {
  display: inline-block;
  background: #698f3f;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  color: #3a3e3d;
  font-weight: bold;
  outline: 0.2rem solid #698f3f;
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}
.main-btn:hover,
.banner-btn:hover {
  color: #ffffff;
  opacity: 0.7;
}

.banner-btn {
  padding: 1.2rem 1.5rem;
  animation: show 3s ease-in-out 1;
}

.content-divider {
  height: 0.5rem;
  background: linear-gradient(to left, #698f3f, #fca311, #698f3f);
}

.skills .skill {
  background: #e5e5e5;
  padding: 2.5rem 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.skills .skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.skills .skill-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  color: #698f3f;
  transition: all 0.3s ease-in-out;
}
.skills .skill-text {
  max-width: 13rem;
  margin: 0 auto;
}
.skills .skill:hover {
  background: #698f3f;
}
.skills .skill:hover .skill-title {
  color: #ffffff;
}
.skills .skill:hover .skill-icon {
  transform: translateY(-5px);
}

.about-img, .about-info {
  padding: 2rem;
}
.about-text {
  margin: 1rem 0;
  max-width: 26rem;
}
.about-picture-container {
  background: #698f3f;
  border: 0.5rem solid #698f3f;
  border-radius: 1rem;
  overflow: hidden;
}
.about-picture-container .about-picture {
  filter: brightness(60%);
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}
.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.products {
  background: #3a3e3d;
}
.products-info, .products-inventory {
  padding: 2rem 0;
}
.products .product-text {
  color: white;
  margin: 1rem 0;
  max-width: 26rem;
}
.products .product {
  padding: 2rem 0;
}
.products .product-img {
  max-width: 100%;
  display: block;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}
.products .product-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.products .product-price {
  color: #698f3f;
  letter-spacing: 0.5rem;
  font-family: "Grand Hotel", cursive;
}

.services {
  background: #e5e5e5;
}
.services .service-img {
  width: 100%;
  display: block;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.services-title {
  padding-top: 4rem;
}
.services .service-card {
  border: 0.3rem solid #698f3f;
  padding: 0.2rem;
  border-radius: 1rem;
  margin: 2rem 0;
}
.services .service-info {
  background: #698f3f;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  color: #ffffff;
  text-transform: capitalize;
  padding: 2.5rem 0 1rem 0;
}
.services .service-btn {
  display: inline-block;
  background: #ffffff;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.8rem 2rem;
  color: #698f3f;
  font-weight: bold;
  border: 0.2rem solid #ffffff;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
.services .service-btn:hover {
  background: transparent;
  color: #ffffff;
}

.contact {
  padding-top: 2rem;
}
.contact-item {
  margin-bottom: 3rem;
}
.contact-title {
  color: #698f3f;
  font-family: "Grand Hotel", cursive;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.contact-text {
  text-transform: uppercase;
}
.contact .form-control {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #698f3f;
  outline: none;
  margin: 2rem 0;
  padding: 1.3rem 0;
  font-size: 0.85rem;
  font-weight: bold;
}
.contact .form-control::placeholder {
  font-family: "Catamaran", sans-serif;
  color: #698f3f;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.footer {
  background: #3a3e3d;
  text-align: center;
  margin-top: 5rem;
}
.footer-text {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
  font-size: 0.85rem;
}
.footer .social-icon {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
.footer .social-icon:hover {
  color: #698f3f;
}

@media screen and (min-width: 579px) {
  .skill {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .products .product {
    float: left;
    width: 50%;
    padding: 2rem 1rem;
  }
  .products .products-info {
    padding: 2rem 1rem;
  }

  .navbar {
    width: 30vw;
    max-width: 20rem;
  }

  .services .service-card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .about-img,
.about-info {
    float: left;
    width: 50%;
  }

  .products .product {
    width: 33.3%;
  }

  .contact-info, .contact-form {
    float: left;
    width: 50%;
    padding: 0 1rem;
  }
  .contact-info {
    padding-top: 5rem;
  }

  .services .service-card {
    float: left;
    width: 30%;
    margin-right: 3.3333%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .products-info {
    float: left;
    width: 30%;
  }
  .products-inventory {
    float: left;
    width: 70%;
  }
  .products .product {
    padding: 1.5rem 1rem 0 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
