$slantedText: 'Grand Hotel', cursive;

// setup colors
$primaryColor: #698f3f;
$secondaryColor: #fca311;
$mainDark: #3a3e3d;
$mainWhite: #ffffff;
$mainGray: #e5e5e5;
$mainTransition: all 0.3s ease-in-out;
$letterSpacing: 0.5rem;
