@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
    // padding: 2rem;
  }
}

@media (min-width: 992px) {
  .products {
    .product {
      width: 33.3%;
    }
  }
}

@media (min-width: 992px) {
  .contact {
    &-info,
    &-form {
      float: left;
      width: 50%;
      padding: 0 1rem;
    }
    &-info {
      padding-top: 5rem;
    }
  }
}
