a {
  text-decoration: none;
}

.mt__5 {
  margin-top: 5rem;
}

.text-white {
  color: $mainWhite;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primaryColor;
}

.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}
