@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$slantedText: 'Grand Hotel', cursive;

// setup colors
$primaryColor: #698f3f;
$secondaryColor: #fca311;
$mainDark: #3a3e3d;
$mainWhite: #ffffff;
$mainGray: #e5e5e5;
$mainTransition: all 0.3s ease-in-out;
$letterSpacing: 0.5rem;

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.5;
}
