@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

@import 'config';
@import 'utilities';
@import 'animation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

// helper/utility classes
// globals
.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}

.section-subtitle {
  font-size: 2rem;
  font-family: $slantedText;
  letter-spacing: $letterSpacing;
  text-transform: capitalize;
  color: $primaryColor;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}
// navbar

// header
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/main-bcg.jpg') center/cover no-repeat fixed;
  position: relative;
}

// banner
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: $letterSpacing;

  .banner-subtitle {
    font-size: 2rem;
    font-family: $slantedText;
    color: $primaryColor;
    // animation
    animation: slideFromRight 3s ease-in-out 1;
  }
  .banner-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: $mainWhite;
    line-height: 1.3;
    // animation
    animation: slideFromLeft 3s ease-in-out 1;
  }
}

.main-btn,
.banner-btn {
  display: inline-block;
  background: $primaryColor;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  color: $mainDark;
  font-weight: bold;
  outline: 0.2rem solid $primaryColor;
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 2rem;
  transition: $mainTransition;

  &:hover {
    color: $mainWhite;
    opacity: 0.7;
  }
}

.banner-btn {
  padding: 1.2rem 1.5rem;
  // animation
  animation: show 3s ease-in-out 1;
}
// end banner

// end header

// content divider
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    $primaryColor,
    $secondaryColor,
    $primaryColor
  );
}
// end content divider

// skills
.skills {
  .skill {
    background: $mainGrey;
    padding: 2.5rem 0;
    text-align: center;
    transition: $mainTransition;

    &-icon {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      display: inline-block;
    }

    &-title {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: $letterSpacing;
      margin-bottom: 1.5rem;
      color: $primaryColor;
      transition: $mainTransition;
    }

    &-text {
      max-width: 13rem;
      margin: 0 auto;
    }

    &:hover {
      background: $primaryColor;

      .skill-title {
        color: $mainWhite;
      }

      .skill-icon {
        transform: translateY(-5px);
      }
    }
  }
}
// end skills

// about
.about {
  &-img,
  &-info {
    padding: 2rem;
  }

  &-text {
    margin: 1rem 0;
    max-width: 26rem;
  }

  &-picture-container {
    background: $primaryColor;
    border: 0.5rem solid $primaryColor;
    border-radius: 1rem;
    // overflow
    overflow: hidden;

    .about-picture {
      filter: brightness(60%);
      width: 100%;
      display: block;
      transition: $mainTransition;
    }

    &:hover .about-picture {
      opacity: 0.5;
      transform: scale(1.2);
    }
  }
}
// end about

// products
.products {
  background: $mainDark;

  &-info,
  &-inventory {
    padding: 2rem 0;
  }

  .product-text {
    color: white;
    margin: 1rem 0;
    max-width: 26rem;
  }

  .product {
    padding: 2rem 0;
  }

  .product-img {
    max-width: 100%;
    display: block;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
  }

  .product-title {
    color: $mainWhite;
    text-transform: uppercase;
    letter-spacing: $letterSpacing;
    margin-bottom: 1rem;
  }

  .product-price {
    color: $primaryColor;
    letter-spacing: $letterSpacing;
    font-family: $slantedText;
  }
}
// end products

// contact
.contact {
  .form-control::placeholder {
    font-family: 'Catamaran', sans-serif;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: $letterSpacing;
  }
}
// end contact

@import 'min-width-579';
@import 'min-width-768';
@import 'min-width-992';
@import 'min-width-1200';
